@import url("https://fonts.googleapis.com/css?family=Press+Start+2P");

body {
  margin: 0;
  font-family: "Press Start 2P", cursive;
  font-size: 2em;
  color: white;
}
button {
  outline: none;
  cursor: pointer;
  border: none;
  box-shadow: 3px 5px 0px 0px rgba(0, 0, 0, 0.75);
}

#counter {
  position: absolute;
  top: 20px;
  right: 20px;
}
#end {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  bottom: 100px;
  visibility: hidden;
}
#end button {
  background-color: red;
  padding: 20px 50px 20px 50px;
  font-family: inherit;
  font-size: inherit;
}
#controlls {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
#controlls div {
  display: grid;
  grid-template-columns: 50px 50px 50px;
  grid-template-rows: auto auto;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  margin-bottom: 20px;
}
#controlls button {
  width: 100%;
  background-color: white;
  border: 1px solid lightgray;
}
#controlls button:first-of-type {
  grid-column: 1/-1;
}

.highscore {
  position: absolute;

  display: flex;
  top: 20px;
  left: 20px;
}
.coin {
  position: absolute;
  display: flex;
  font-size: 20px;
  top: 70px;
  left: 20px;
}

input,
label {
  bottom: 20px;
  left: 20px;
}
.checkbox-label {
  position: absolute;
  font-size: 40%;
  margin-top: 20px;
  margin-left: 30px;
}

input[type="checkbox"] {
  /* Hide the default checkbox appearance */
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  border: none;
  padding: 0;
  margin: 5px;
  width: 16px;
  height: 16px;
  position: absolute;
  z-index: 1;
}

input[type="checkbox"]::before {
  /* Create a custom checkbox shape */
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 50%; /* Make the border round */
  border: 2px solid #000; /* Border color */
  background-color: #fff; /* Background color */
  position: absolute;
  top: 0;
  left: 0;
}

input[type="checkbox"]:checked::after {
  /* Add a check icon after the checkbox is checked */
  content: "\2713"; /* Unicode character for checkmark */
  font-size: 14px;
  font-weight: 900;
  color: #000; /* Icon color */
  position: absolute;
  left: 4px;
}

@media only screen and (max-width: 600px) {
  input,
  label {
    bottom: 125px;
    left: 20px;
  }
  .highscore,
  #counter {
    font-size: 15px;
  }
}
